html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f5f2f2;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
