.footer {
  width: 100%;
  background-color: #ffdb63;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin-top: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.footer__cookify,
.footer__name {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  margin: 4px 0;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .footer {
    padding: 30px 0;
  }

  .footer__cookify,
  .footer__name {
    font-size: 20px;
    margin: 3px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer {
    padding: 25px 0;
  }

  .footer__cookify,
  .footer__name {
    font-size: 18px;
    margin: 2px 0;
    text-align: center;
    line-height: 1.3;
  }
}
