.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader__spinner {
  display: block;
  width: 60px;
  height: 60px;
  border: 6px solid #444;
  border-bottom-color: #ffdb63;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .loader__spinner {
    width: 50px;
    height: 50px;
    border-width: 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .loader__spinner {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }
}
